rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {
     // allow read, write;
     //allow read, create, delete, update;
    
      // Ony Auth
      allow create: if request.auth != null;

      // logged in user uid must match the document creator to read & delete
      allow read, delete: if request.auth.uid == resource.data.uid;
    }
  }
}